<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/QUWEI100/src/unit1/CH1_1_jinzita.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="unit1.CH1_1_jinzita"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="QUWEI100"/>
</launchConfiguration>
